<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kai.readev">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Readev">
        <activity android:name=".chap14.Chap14FeedbackActivity"></activity>
        <activity android:name=".chap14.Chap14HelpActivity" />
        <activity android:name=".chap14.Chap14MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chap13.PizzaDetailActivity"
            android:parentActivityName=".chap12.PizzaActivity" />
        <activity
            android:name=".chap12.PizzaActivity"
            android:label="@string/bits_pizzas"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Readev" />
        <activity android:name=".chap11.TempActivity" />
        <activity
            android:name=".chap9.WorkoutDetailActivity"
            android:label="Workout Detail Activity" />
        <activity android:name=".chap9.WorkoutListActivity" />
        <activity
            android:name=".chap8.OrderActivity"
            android:label="@string/create_order"
            android:parentActivityName=".chap12.PizzaActivity"
            android:theme="@style/Theme.Readev" />
        <activity
            android:name=".chap8.ActionBarActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity android:name=".chap7.DrinkActivity" />
        <activity
            android:name=".chap7.DrinkCategoryActivity"
            android:label="Drinks" />
        <activity
            android:name=".chap7.TopMenuActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity android:name=".ConstraintLayoutActivity" />
        <activity android:name=".DuckActivity" />
        <activity android:name=".StopWatchActivity" />
        <activity android:name=".ReceiveMessageActivity" />
        <activity android:name=".CreateMessageActivity" />
        <activity android:name=".BeerActivity" />
    </application>

</manifest>